body {
    font-family: Arial, Helvetica, sans-serif;
    height: 2075px;
    width: 721px;
    margin: auto;
    border: 7px solid green;
    background-image: url(images/body.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.nav {
    height: 38px;
    width: 721px;
    border: 1px solid red;
    padding-top: 17px;
    background-color: #8E44BE;

}
.big {
    margin: 0px 0px 0 55px;
    background-color: #FFC600;
    color: black;
}
.banner {
    /* background-color: #8E44BE; */
    border: 1px solid red;
    height: 300px;
    width: 721px;
    display: inline-block;
    margin-top: 30px;
    display: flex;
}
.burger {
    height: auto;
    width: 67%;
}
.box {
    height: auto;
    width: 30%;
    margin: 31px 0px 140px 42px;
    display: inline-block;
    text-align: center;
    background-color: palevioletred;
    padding-top: 1px;
    padding-left: 77px;

}
.boxx {
    background-color: bisque;
}
.box1 {
    height: auto;
    width: 30%;
    margin: -60px 0px 0px 42px;
    display: inline-block;
    text-align: center;
    background-color: palevioletred;
    padding-top: 1px;
    padding-left: 77px;
}

.grid {
    display: grid;
    width: auto;
    height: 16vh;
    border: 4px solid red;
    grid-template-columns: 150px 150px 150px 150px;
    margin-top: 20px;
    color: red;
    margin-left: auto;
    text-align: center;
    padding: 0px 0px 0px 54px;
}
.icon {
    background: wheat;
    font-size: 14px;
}

/* banner 2  */

.banner2 {
    background-image: url(images/banner2.jpg);
    height: 390px;
}

.banner_content{
    text-align: center;
    padding-top: 54px;
}
.banner_content h1 {
    color: antiquewhite;
}
.p {
    color: aliceblue;
}
.button {
    font-size: 21px;
    color: chocolate;
    background: beige;
}

/* line */

.lines {
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 14px;
}
.lines::after, .lines::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: #fff;
    width: 45%; 
    top: 45%;
}

.lines::after{
    left: 0;
}
.lines::before{
    right: 0;
}
.circle {
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

/* img area  */

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}   
.img {
   
     height: 200px;
     object-fit: cover; 
}